/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececee;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item1 { grid-area: raca; }
.item2 { grid-area: racb; }
.item3 { grid-area: racc; }
.item4 { grid-area: rbca; }
.item5 { grid-area: rbcb; }
.item6 { grid-area: rbcc; }

.global{
  display: grid;
  grid-template-areas:
    'raca racb racc'
    'rbca rbcb rbcc';
  grid-gap: 50px;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.global > div {
  height: max-content;
  padding: 5px;
}

.Cases{
        padding: 4px;
        text-align: 'center';
        color: black;
        opacity: '30';
        border-radius: '20px';
        background: linear-gradient(45deg, lightblue 30%, rgb(126, 190, 211) 50%);
}
.Cases:hover{
  background: linear-gradient(45deg, #9e9ea5 30%, #b2b3cc 90%);
}

.Recovered{
  background: linear-gradient(45deg, rgb(121, 250, 121) 30%, rgb(104, 245, 104)  50%);
  display: flex;
  border-radius: 20px; 
  border: 2px solid #1f5e2f;
}
.Deaths{
  background: linear-gradient(45deg, rgb(202, 100, 117) 30%, rgb(202, 122, 135) 50%);
  display: flex;
  border-radius: 20px; 
  border: 2px solid blue;
  /* grid-area: racc; */
}
.Deaths > p {
  color: rgb(194, 62, 62);
}

.full-height {
  height: 100%;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
